*,
*::before,
*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection{background-color:var(--amarillo);color:#fff;}
::selection{background-color:var(--amarillo);color:#fff;}
::-webkit-input-placeholder{color:var(--marron);;}
:root{--amarillo:#FFC53D;--marron:#824C00;}
html{font-size:0.94vw;}
body{font-family:'Asap';color:#413E4A;font-weight:200;font-size:1rem;}
body.abierto{overflow: hidden;}
a{display:inline-block;}
section{position:relative;}
footer{}
footer .prefooter{position:relative;bottom:-4rem;}
footer .pie{color:#fff;padding-bottom:1rem;background-color:rgb(7,19,48);padding-top:5rem;}
footer .pie a{color:#fff;}
footer .pie .lista-redes{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
footer .pie .lista-redes a{margin-left:1rem;font-size:1.2rem;}
.cabecera{transition: all .5s ease;padding-top:1rem;padding-bottom:1rem;position:fixed;top:0;left:0;width:100%;z-index:999;}
.cabecera.fondo{
	background-color: rgba(7,19,48,0.8);
}
.cabecera.fondo .link-logo .logo{width:3rem;}
.cabecera .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.cabecera .link-logo{display:inline-block;vertical-align:middle;}
.cabecera .link-logo .logo{width:5.5rem;height:auto; transition: all .5s ease;}
.cabecera .menu{}
.cabecera .menu a{margin-left:0.5rem;margin-right:0.5rem;color:rgba(230,154,35,1);font-size:0.9rem;font-weight:600;text-transform:uppercase;text-decoration:none;letter-spacing:0.15rem;word-spacing:0.3rem;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.cabecera .menu span{color:white;}
.cabecera .menu .seleccionado,
.cabecera .menu a:hover{color:#FFEA7D;}
.cabecera .menu a:first-child{margin-left:0;}
.cabecera .menu a:last-child{margin-right:0;}
.saltarina{width:2.5rem;height:2.5rem;border-radius:100%;border:0.2rem solid #fff;color:#fff;text-decoration:none;display:-webkit-box;display:-ms-flexbox;display:flex;font-size:1.8rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:absolute;bottom:3rem;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);-webkit-animation-name:saltar;animation-name:saltar;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.saltarina:hover{-webkit-animation-play-state:paused;animation-play-state:paused;}
@-webkit-keyframes saltar{0%{bottom:3rem;}
50%{bottom:5rem;}
100%{bottom:3rem;}
}
@keyframes saltar{0%{bottom:3rem;}
50%{bottom:5rem;}
100%{bottom:3rem;}
}
.cabecera .hamb{color:rgba(230,154,35,1);font-size:2.8rem;display:none;}
.container{width:85.74%;padding:0 1rem;margin:0 auto;}
.container-full{width:100%;padding:0 1rem;}
.fila{margin-left:-1rem;margin-right:-1rem;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.fila.fila-centrada{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.columna{padding-left:1rem;padding-right:1rem;}
.columna-100{width:100%;}
.columna-50{width:50%;}
.columna-41{width:41.66%;}
.columna-33{width:33.33%;}
.columna-25{width:25%;}
.columna-16{width:16.66%;}
.columna-8{width:8.33%;}
.empujar-33{margin-left:33.33%;}
.orden{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
.sin-padding{padding-right:0;padding-left:0;}
.padding-grande{padding:4rem;}
.conteendor-cuadrado{width:100%;padding-bottom:100%;position:relative;overflow:hidden;background-color:rgb(7,19,48);cursor:pointer;}
.conteendor-cuadrado.cont-rect{padding-bottom:56.25%;}
.conteendor-cuadrado img{position:absolute;top:0;left:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.conteendor-cuadrado:hover img{-webkit-transform:scale(1.4) rotate(-30deg);-ms-transform:scale(1.4) rotate(-30deg);transform:scale(1.4) rotate(-30deg);opacity:0.75;-webkit-filter:grayscale(1);filter:grayscale(1);}
.conteendor-cuadrado.cont-rect:hover img{-webkit-transform:none;-ms-transform:none;transform:none;}
.conteendor-cuadrado .contenido-cuadrado{position:absolute;text-align:center;width:100%;padding-right:2rem;padding-left:2rem;top:-100%;color:#fff;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.conteendor-cuadrado:hover .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.conteendor-cuadrado .contenido-cuadrado h2{margin-top:0;}
.mapa{position:relative;padding-bottom:33.33%;width:100%;}
.mapa iframe{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-filter:grayscale(1);filter:grayscale(1);}
.seccion{padding-top:4rem;padding-bottom:4rem;}
.centrar-texto{text-align:center;}
.derecha-texto{text-align:right;}
.inclinar--texto{font-style:italic;}
.justificar-texto{text-align:justify;}
.video-fondo{position:absolute;top:0;left:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;z-index:1;-webkit-filter:grayscale(1);filter:grayscale(1);opacity:0.5;}
.importante{font-style:italic;}
.titulos{margin-top:0;margin-bottom:2.8rem;text-align:center;font-size:2.8rem;text-shadow:1.3rem 1.3rem 0.15rem #FFEA7D;position:relative;padding-top:1rem;display:inline-block;padding-right:1rem;padding-left:1rem;}
.titulos::before{position:absolute;top:0;width:3rem;left:50%;height:0.13rem;background-color:#413E4A;margin-left:-1.5rem;content:" ";}
.titulos::after{position:absolute;top:0;width:0.13rem;left:0;height:100%;background-color:#413E4A;content:" ";}
.margin-arriba{margin-top:2.8rem;}
.btn{padding:0.8rem 2rem;font-size:16px;text-decoration:none;text-align:center;border-radius:15px;border-width:2px;border-style:solid;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.btn-circulo{width:2.8rem;height:2.8rem;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0.3rem;font-size:1.3rem;border-radius:100%;border-width:0.15rem;border-style:solid;text-decoration:none;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.btn-circulo.borde-blanco{color:#fff;border-color:#fff;}
.btn-circulo.borde-blanco:hover{background-color:#fff;color:#824C00;}
.btn.boton-transparente{background-color:transparent;border-color:#FFCA31;color:#FFCA31;}
.btn.boton-transparente:hover{background-color:#FFCA31;border-color:#FFCA31;color:#fff;}
.btn.boton-amarillo{border-color:#FFC53D;background-color:#FFC53D;color:#824C00;}
.btn.boton-amarillo:hover{border-color:#824C00;background-color:#824C00;color:#FFC53D;}
.form-bloques{display:block;margin-bottom:1rem;}
.form-bloques .form-input{width:100%;height:3.5rem;padding:0.75rem;border:0.13rem solid #FFC53D;color:var(--marron);-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;border-radius:0.75rem;font-size:1.3rem;}
.form-bloques .form-input:focus{outline:0.1rem solid #FFC53D;-webkit-box-shadow:0.1rem 0.1rem 1.3rem 0px #FFC53D;box-shadow:0.1rem 0.1rem 1.3rem 0px #FFC53D;}
.form-bloques textarea.form-input{height:12rem;resize:none;}
.form-bloques.form-bloque-boton{margin-bottom: 0}
.form-bloques.form-bloque-rpta
{
	margin-top: 1rem;
}

.error,.form-bloques .form-input.error
{
	color: red;
}

.form-bloques .form-input.error
{
	border-color: red;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span
{
	background-color: var(--amarillo);
}

.owl-theme .owl-dots .owl-dot span
{
	background-color: #fff;
}

.trama
{
	background-color: rgba(7,19,48,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}

.trama-2
{
	background-color: rgb(7,19,48);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}

.logo-load
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;	
}

.logo-load img
{
	width: 5rem;
	height: 5rem;
	display: inline-block;
	animation-name: palpitar;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes palpitar
{
	0%{transform: scale(1);opacity: 1;}
	50%{transform: scale(1.5);;opacity: 0.5;}
	100%{transform: scale(1);;opacity: 1;}
}

.cuerpoimagen
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}

.cuerpoimagen .cerrarimagen
{
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--amarillo);
	width: 4rem;
	height: 4rem;
	text-decoration: none;
	padding: 0.5rem;
	color: rgba(7,19,48);
	font-size: 2rem;
	z-index: 7;

}
.cuerpoimagen img
{
	height: 100%;
	width: auto;
	object-fit: contain;
	object-position: center;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 6;
		transform: translateX(-50%);
}

.titulo-acordion
{
	padding: 1rem;
	padding-right: 4rem;
	position: relative;
	margin-top: 0.5rem;
	background-color: var(--amarillo);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	cursor: pointer;
	margin-bottom: 0;
}

.titulo-acordion:first-child
{
	margin-top: 0;
}

.titulo-acordion i
{
	position: absolute;
	font-size: 2rem;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.cuerpo-acordion
{
	padding: 2rem 1rem;
	display: none;
	border: 0.1rem solid var(--amarillo);
}

#respuesta
{
	font-size: 1.5rem;
}
#banner{background-color:#000;height:calc(100vh - 7rem);}
#banner.banner-nosotros,
#banner.banner-contacto{height:50vh;}
#banner .banner-home{width:100%;height:100%;display:block;opacity:0.75;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;}
#banner.banner-nosotros .banner-home{-o-object-position:top;object-position:top;}
#banner .container{position:absolute;top:50%;left:0;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
#banner .container h1{font-size:4.8rem;color:#fff;margin:0;}
#banner .container p{font-size:1.3rem;color:#FFF492;line-height:1.5;}
#lacarta{background-color:#824C00;background-image:url("../img/trama.svg");background-position:center bottom;background-repeat:no-repeat;}
#lacarta .titulos{color:#FFC53D;text-shadow:1.3rem 1.3rem 0.15rem rgba(255,255,255,0.5);}
#lacarta .titulos::before,
#lacarta .titulos::after{background-color:#FFC53D;}
#locales{}
#locales ul{padding-left:0;list-style-position:inside;list-style-type:none;list-style-image:url("../img/lista.png");line-height:1;-webkit-columns:3;-moz-columns:3;columns:3;}
#servicios{}
#servicios .contenedor-serv{text-align:center;background-color:#FFEA7D;padding:2.8rem 2rem;height:100%;border-radius:1rem;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;}
#servicios .contenedor-serv:hover{-webkit-box-shadow:0.13rem 0.13rem 1.3rem 0px rgba(230, 120, 0, 0.75);box-shadow:0.13rem 0.13rem 1.3rem 0px rgba(230, 120, 0, 0.75);}
#servicios .contenedor-serv i{font-size:2.8rem;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;}
#servicios .contenedor-serv:hover i{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);}
#testimonio{position:relative;background-color:#824C00;color:#fff;line-height:1.5;}
#testimonio .titulos::before,
#testimonio .titulos::after{background-color:#fff;}
#testimonio h3{color:var(--amarillo);font-size: 1.5rem;}
#testimonio p{margin-bottom:0;}
#testimonio p::first-letter{font-size:2rem;font-weight:600;}
#testimonio .trama-video{position:absolute;width:100%;height:100%;z-index:2;top:0;left:0;background-image:-webkit-gradient(linear, left top, right bottom, color-stop(5%, #824C00), color-stop(50%, rgba(7,19,48,0.8))),
url("../img/imagen1.jpg");background-image:-o-linear-gradient(top left, #824C00 5%, rgba(7,19,48,0.8) 50%),
url("../img/imagen1.jpg");background-image:linear-gradient(to bottom right, #824C00 5%, rgba(7,19,48,0.8) 50%),
url("../img/imagen1.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;background-attachment:fixed;}
#testimonio .container{z-index:3;position:relative;}
#cocineros{}
#cocineros .columna-cocinero{}
#cocineros .columna-cocinero .contenedor-cocinero-imagen{position:relative;width:100%;padding-bottom:56.25%}
#cocineros .columna-cocinero .contenedor-cocinero-imagen img{-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;position:absolute;top:0;left:0;width:100%;height:100%;}
#cocineros .columna-cocinero-info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
#cocineros .columna-cocinero-info h2{color:#824C00;margin-top:0;font-size:3rem;font-style:italic;}
#cocineros .columna-cocinero-info p{font-style:italic;font-size:1.5rem;margin:0;}
#contacto{background-color:#FFEA7D;}
#contacto .columna-info-contacto{font-style:italic;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
#contacto .columna-info-contacto p{margin-top: 0;}
#contacto .columna-info-contacto h2,
#contacto .columna-info-contacto .telefono,
#contacto .columna-info-contacto .email{color:#6C4600;font-size:2.3rem;text-decoration:none;margin-bottom:1rem;display:inline-block;margin-top:0;}
#contacto .columna-info-contacto .email{margin-bottom:0;}



@media (min-width:1200px){}
@media (max-width:1199px){.container{width:960px;}
}
@media (max-width:991px){.container{width:750px;}
}
@media (max-width:767px){html{font-size:4vw;}
footer .prefooter{bottom:-2.8rem;}
footer .pie{text-align:center;padding-top: 3.8rem}
footer .pie .lista-redes{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:1rem;}
footer .pie .lista-redes a{margin-left:1rem;margin-right:1rem;font-size:1.5rem;}
.container{width:100%;}
.columna-mb-100{width:100%;}
.columna-mb-50{width:50%;}
.columna-mb-41{width:41.66%;}
.columna-mb-33{width:33.33%;}
.columna-mb-25{width:25%;}
.columna-mb-16{width:16.66%;}
.columna-mb-8{width:8.33%;}
.empujar-mb-0{margin-left:0;}
.orden{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0;}
.titulos{font-size:4rem;}
.cabecera .link-logo {
  position: relative;
  z-index: 2;
}
.cabecera .link-logo .logo{width:3.5rem;height:auto;}

.cabecera .hamb{display:block; position: relative;z-index: 2}
.cabecera .menu{padding-right: 1rem;padding-left: 1rem;transition: all .5s ease;transform: translateX(100%);position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgb(7,19,48);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index: 1;}
.cabecera .menu.abierto{transform: translateX(0);}
.cabecera .menu a
{
	margin: 1rem 0;
	font-size: 2rem;
}
.seccion{padding-bottom:2.8rem;padding-top:2.8rem;}
.conteendor-cuadrado .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.mapa{padding-bottom:100%;}
.padding-grande{padding:2rem;}
.form-bloques .form-input{font-size:1.4rem;}
.form-bloques.form-bloque-boton .btn{width:100%;font-size:1.4rem;}
#banner,
#banner.banner-nosotros,
#banner.banner-contacto{height:100vh;}
#banner .container h1{font-size:4rem;}
#servicios .contenedor-serv{height:auto;margin-bottom:1rem;}
#lacarta{padding-bottom:0;}
#lacarta .fila:nth-child(2){padding:0;}
#cocineros .columna-cocinero-info{display:block;}
#cocineros .columna-cocinero-info h2{font-size:2rem;}
#cocineros .columna-cocinero-info p{font-size:1rem;}
#cocineros .columna-cocinero-info.derecha-texto{text-align:left;}
#contacto .columna-info-contacto.derecha-texto{text-align:left;}
#contacto .columna-info-contacto h2,
#contacto .columna-info-contacto .telefono,
#contacto .columna-info-contacto .email{font-size:1.4rem;}
#contacto .columna-info-contacto .email{margin-bottom:2rem;}

.cuerpoimagen img
{
	height: auto;
	width: 100%;
	position: fixed;
	top: 50%;
	left:0;
	z-index: 6;
	transform: translateY(-50%);
}
}